overlay#battleList(style="display:none")
    div
        h3 ONGOING BATTLES
        #listOfBattles
        br
        a.button.iconButton(onclick="hide('battleList','fadeOut',1)")
            | close
            img.invert(src="material-icons/close.svg")