link(rel="stylesheet" href!="<? hashify('main/minigame/minigame.css'); ?>")
link(rel="stylesheet" href!="<? hashify('main/minigame/units.css'); ?>")

overlay#chooseUnitOverlay(style="display:none")
    #chooseUnitMenu
        h3 CHOOSE A UNIT
        #unitList
        br
        a.button.iconButton(onclick="hide('chooseUnitOverlay','fadeOut',1)")
            | close
            img.invert(src="material-icons/close.svg")


#minigame(style="display:none")
    overlay#unitSprites
    overlay#plusSigns

    header
        #minigameHeader
        #minigameTurn
        div test
        
    #board

    footer#footerBackgroundWorkaround
    footer
        #minigameTurnCounter
        
        a.button(onclick="endTurn()")
            | end turn
        
        a.button.iconButton(onclick="closeMinigame()")
            | close
            img.invert(src="material-icons/close.svg")

script initBoardButtons(4, 7);
