.boardButton {
    border: solid grey 1px;
}

.boardButton:hover {
    border: solid rgba(255, 0, 0, 0.3) 6px;
}

.baseTile {
    background-color: rgb(184, 184, 184);
}

.borderTop {
    border-top: solid 2px;
}

.borderBottom {
    border-bottom: solid 2px;
}

#minigame {
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    z-index: 5;
    overflow-y: scroll;
    
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 50px auto 20%;
    grid-template-areas: "header header header"
                        "left board right"
                        "footer footer footer";

    background-image: url(../../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#minigame > #board {
    grid-area: board;
    
    margin: auto;
    background-color: lightgrey;
    box-shadow: var(--small-shadow);

    height: calc(100vh - 270px);
    width: calc((100vh - 270px) * 4 / (7 * 0.9));

    
    /* height: 90%; */
    /* 100vh - (header+footer) * cols / rows * perspective multiplier */
    /* max-width: calc(100vw - 100px); */
    max-width: 300px;
    max-height: calc(300px * 7 * 0.9 / 4);
    min-width: 220px;
    min-height: calc(220px * 7 * 0.9 / 4);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

#minigame > header {
    grid-area: header;

    text-align: center;
    color: var(--text-white);
    padding-top: 15px;
    font-size: 20px;
}

#minigame > footer {
    grid-area: footer;

    position: absolute;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    background-color: var(--dark-card);
}

#minigame > #footerBackgroundWorkaround {
    height: calc(100% - 15px);
}

#minigameTurn {
    color: var(--text-white);
    font-size: 30px;
    font-weight: bold;
}

#minigameTurnCounter {
    color: var(--text-white);
}

#chooseUnitOverlay {
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.4);
}

#chooseUnitMenu {
    color: var(--text-white);
    background-color: var(--dark-card);
    box-shadow: var(--small-shadow);
    text-align: center;
    margin: auto;
    width: 300px;
    margin-top: 50px;
    padding: 20px;
}

#unitSprites {
    pointer-events: none;
    z-index: 6;
}

#unitSprites > img {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}