link(rel="stylesheet" href!="<? hashify('main/minigame/minigame.css'); ?>")

overlay#chooseUnitOverlay(style="display:none")
    #chooseUnitMenu
        h3 CHOOSE A UNIT
        br
        #unitList
            
        a.button.iconButton(onclick="hide('chooseUnitOverlay','fadeOut',1)")
            | close
            img.invert(src="material-icons/close.svg")


#minigame(style="display:none")
    overlay#unitSprites
    
    header
        #minigameHeader
        #minigameTurn
    #board

    footer#footerBackgroundWorkaround
    footer
        #minigameTurnCounter
        
        a.button(onclick="endTurn()")
            | end turn
        
        a.button.iconButton(onclick="closeMinigame()")
            | close
            img.invert(src="material-icons/close.svg")

script initBoardButtons(4, 7);
