.spawnableUnit {
    display: block;
    padding: 10px;
}

.spawnableUnit:hover {
    background-color: var(--dark-card-highlight);
}

#chooseUnitOverlay {
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.4);
}

#chooseUnitMenu {
    color: var(--text-white);
    background-color: var(--dark-card);
    box-shadow: var(--small-shadow);
    text-align: center;
    margin: auto;
    width: 300px;
    margin-top: 50px;
    padding: 20px;
}

#unitSprites {
    pointer-events: none;
    z-index: 7;
}

#unitSprites > img, #plusSigns > img {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#plusSigns {
    pointer-events: none;
    z-index: 6;
}