include libraries/utility/general.php

<!DOCTYPE html>

html
    head
        title Second Wind
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- styles for the loading screen so that no css file needs to be loaded before it can be shown
        //- file_get_contents echoes returns the contents of an entire file
        style <?= file_get_contents("css/loading.css"); ?>
        

        //- force these links to load over cache by adding ?v=<?=time()?> to the end of each
        //- link(rel="stylesheet" href!="<? hashify('css/style.css'); ?>")
        //- link(rel="stylesheet" href="css/animate.css")
        //- link(rel="stylesheet" href!="<? hashify('css/mainStyle.css'); ?>")
        //- link(rel="stylesheet" href!="<? hashify('css/buttons.css'); ?>")

        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        //- script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        //- script(src!="<? hashify('libraries/ajax/newAjaxHelper.js'); ?>")
        //- script(src!="<? hashify('libraries/account/functions.js'); ?>")
        //- script(src!="<? hashify('libraries/account/secureLoad.js'); ?>")
        //- script(src!="<? hashify('libraries/utility/general.js'); ?>")
        //- script(src!="<? hashify('libraries/utility/animation.js'); ?>")
        //- script(src!="<? hashify('libraries/utility/hashNavigation.js'); ?>")
        //- script(src!="<? hashify('libraries/energy/energy.js'); ?>")
        //- script(src!="<? hashify('libraries/items/items.js'); ?>")
        //- script(src!="<? hashify('libraries/slider/sliderdemo.js'); ?>") 

        //- script(src!="<? hashify('main/menu/menu.js'); ?>")
        //- script(src!="<? hashify('main/notifications/notifications.js'); ?>")
        //- script(src!="<? hashify('main/map/map.js'); ?>")
        //- script(src!="<? hashify('main/map/init.js'); ?>")
        //- script(src!="<? hashify('main/map/perimeter.js'); ?>")
        
        //- script(src!="<? hashify('libraries/ajax/ajaxLoop.js'); ?>")
        
        //- script(src!="<? hashify('init.js'); ?>")
    body
        #ghost 

        #loading
            text loading...

        a.absolute(href="login" style="z-index: -1;") if nothing happens, click here to login again

        #main

        #errorContainer(style="display:none")
            #error this is an error message
        
        
        #links
            //- all links are appended using js, which means that they will only 
            //- start loading these once the loading screen is showing, making the initial load smoother
            script.
                <?= file_get_contents("libraries/utility/link.js"); ?>

                linkCss("<? hashify('css/style.css'); ?>");
                linkCss("css/animate.css");
                linkCss("<? hashify('css/mainStyle.css'); ?>");
                linkCss("<? hashify('css/buttons.css'); ?>");
            
                linkJs("https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js");
                linkJs("https://code.jquery.com/jquery-3.2.1.min.js");

                linkJs("<? hashify('libraries/ajax/newAjaxHelper.js'); ?>");
                linkJs("<? hashify('libraries/ajax/ajaxLoop.js'); ?>");

                linkJs("<? hashify('libraries/account/functions.js'); ?>");
                linkJs("<? hashify('libraries/account/secureLoad.js'); ?>");

                linkJs("<? hashify('libraries/utility/general.js'); ?>");
                linkJs("<? hashify('libraries/utility/animation.js'); ?>");
                linkJs("<? hashify('libraries/utility/hashNavigation.js'); ?>");

                linkJs("<? hashify('libraries/energy/energy.js'); ?>");
                linkJs("<? hashify('libraries/items/items.js'); ?>");
                linkJs("<? hashify('libraries/slider/sliderdemo.js'); ?>") ;

                linkJs("<? hashify('main/menu/menu.js'); ?>");
                linkJs("<? hashify('main/notifications/notifications.js'); ?>");

                linkJs("<? hashify('main/map/map.js'); ?>");
                linkJs("<? hashify('main/map/init.js'); ?>");
                linkJs("<? hashify('main/map/draw.js'); ?>");
                linkJs("<? hashify('main/map/players.js'); ?>");
                linkJs("<? hashify('main/map/perimeter.js'); ?>");
                linkJs("<? hashify('main/map/quickActions.js'); ?>");
                
                linkJs("<? hashify('main/minigame/minigame.js'); ?>");

                linkJs("<? hashify('init.js'); ?>");


