.icon {
    border: solid black 3px;
    border-radius: 100000px;
    padding: 7px;
    margin: 5px;
    vertical-align: middle;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.button, select {
    display: inline;
    border: solid white 3px;
    padding: 10px;
    margin: 10px;
    line-height: 50px;
    color: white;
    cursor: pointer;
    background-color: black;
    font-size: medium;
    font-weight: 700;
}

.button:hover, select:hover {
    background-color: rgb(50, 50, 50);
}

.invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}