.icon {
    border: solid black 3px;
    border-radius: 100000px;
    padding: 7px;
    margin: 5px;
    vertical-align: middle;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.button {
    border: solid white 3px;
    padding: 10px;
    line-height: 50px;
    color: white;
}