
.grid-container {
    display: grid;
    grid-template-columns: 200px auto 100px auto 200px;
    grid-template-rows: 100px  auto  50px;
    height:100%;
    width: 100%;
    background-image: url(../images/mountain_dark.svg);
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: calc(50% + 50px) 44%;

    grid-template-areas:    "headleft headleft pic headright headright"
                            "notifications middle middle middle analytics"
                            "foot foot foot foot foot"
}
body{
    color: rgb(255, 255, 255);
    margin:0;
}
.grid-container > div {
    text-align: center;
    border-style: solid;
    font-size: 30px;
}
.item1{
    border-width: 0px;
    grid-area: 1 / 1 / 2 / 6;
    /* row column row colum */
}
.notification_box{
    border-width: 4px;
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.6);
    
    height:calc(82vh - 100px); 
    width:80%;
    animation: move-in-steps 3.5s infinite;
    position: relative;
    top: 0;
    
}
  


  .move-me {
    display: inline-block;
    padding: 20px;
    color: white;
    position: relative;
    margin: 0 0 10px 0;
  }
  

  
  
  body {
    padding: 20px;
  }
  

  
  @keyframes move-in-steps {
    from, to {
      top: 0;
      animation-timing-function: cubic-bezier(0.41, 0.01, 0.6, 0.95);
      background: rgb(177, 177, 177);
    }
    50% {
      top: 20px;
      background: rgb(236, 236, 236);
      animation-timing-function: cubic-bezier(0.41, 0.01, 0.6, 0.95);
    }
  }

.userLevel{
    grid-area: 1 / 3 / 2 / 4;
    border-width: 4px;
    border-radius:100%;
    background:url(../images/level.png) center no-repeat;
    background-size: 100% 100%;
}
.item2{
    border-width: 0px;
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgba(0, 0, 0, 0);
    justify-self: center;
}
.item3{
    border-width: 0px;
    grid-area: 2 / 2 / 3 / 5;
}
.item4{
    border-width: 0px;
    grid-area: 2 / 5 / 3 / 6;
    background-color: rgba(0, 0, 0, 0.0);
}
.item5{
    border-width: 0px;
    grid-area: 3 / 1 / 4 / 6;
    background-color: rgba(0, 0, 0, 0.8);
}
#combine{
    display:none;
}
#ghost{
    display:none
}



/* ranger */
.slidecontainer {
    width: 70%; /* Width of the outside container */
    display:inline-block;
    margin-top:7px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(0, 0, 0); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(0, 0, 0); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.demo{
    float:right;
    display:inline-block;
    margin-top:2px;
    margin-bottom: 2px;
}

.energyTitle{
    float:left;
    margin-top:2px;
    margin-bottom: 2px;
    /* display: inline-block; */
}



/* hide side menus on phones */
@media screen and (max-width: 600px) {
    .grid-container {
    grid-template-columns: 0px auto 0px;
    }
    .item2{
    display: none;
    }
    .item4{ display: none;}
}

