/* general css styles for whole site */

html * { font-family: 'Quicksand', sans-serif !important; }

.menuSolid, .loginButton, .loginInput, #loading { background-color: #222222; }

.textWhite, #loading text { color: #dddddd; }

.hidden { display: none; }

#loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
}

#loading text {
    position: absolute;
    top: 50%;
}