/* general css styles for whole site */

html * { font-family: 'Quicksand', sans-serif; }

.menuSolid, .loginButton, .loginInput, #loading { background-color: #222222; }

.textWhite, #loading text { color: #dddddd; }

.hidden { display: none; }

.absolute { position: absolute; }

.conatiner { 
    width: 100%;
    height: 100%;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: center;
}

#loading text {
    position: absolute;
    top: 50%;
}

a {
    cursor: pointer;
}