html
    head
        title Second Wind
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="libraries/ajax/AjaxHelper.js")
    body
        | hello
        br
        a(onclick="getFive()") click me
        br
        #output
        #ghost

        script.
            function getFive() {
                var ajax = new AjaxHelper;
                ajax.loadVariables("output", {"variableExample": null, "variableWithArgExample": "heyo", "variableMultipleArgsExample": ["foo", "bar"]}, function() {
                    console.log(variableExample);
                    console.log(variableWithArgExample);
                    console.log(variableMultipleArgsExample);
                })

                ajax.call("args",{0: "hey", 1: "there"}, function() {
                    console.log("call done");
                });
            }