include libraries/utility/general.php

<!DOCTYPE html>

html
    head
        title Second Wind
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- force these links to load over cache by adding ?v=<?=time()?> to the end of each
        link(rel="stylesheet" href="css/animate.css")
        link(rel="stylesheet" href!="<? hashify('css/style.css'); ?>")
        link(rel="stylesheet" href!="<? hashify('css/mainStyle.css'); ?>")
        link(rel="stylesheet" href!="<? hashify('css/buttons.css'); ?>")


        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src!="<? hashify('libraries/ajax/newAjaxHelper.js'); ?>")
        script(src!="<? hashify('libraries/account/functions.js'); ?>")
        script(src!="<? hashify('libraries/account/secureLoad.js'); ?>")
        script(src!="<? hashify('libraries/utility/general.js'); ?>")
        script(src!="<? hashify('libraries/utility/animation.js'); ?>")
        script(src!="<? hashify('libraries/utility/hashNavigation.js'); ?>")
        script(src!="<? hashify('libraries/energy/energy.js'); ?>")
        script(src!="<? hashify('libraries/items/items.js'); ?>")
        script(src!="<? hashify('libraries/slider/sliderdemo.js'); ?>") 

        script(src!="<? hashify('main/menu/menu.js'); ?>")
        script(src!="<? hashify('main/notifications/notifications.js'); ?>")
        script(src!="<? hashify('main/map/map.js'); ?>")
        script(src!="<? hashify('main/map/init.js'); ?>")
        script(src!="<? hashify('main/map/perimeter.js'); ?>")
        
        script(src!="<? hashify('init.js'); ?>")

        //- link(rel="stylesheet", href="css/style.css")
        //- link(rel="stylesheet", href="css/animate.css")
        //- link(rel="stylesheet" href="css/mainStyle.css")
        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        //- script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        //- script(src="libraries/ajax/AjaxHelper.js")
        //- script(src="libraries/account/functions.js")
        //- script(src="libraries/account/secureLoad.js")
        //- script(src="libraries/utility/general.js")
        //- script(src="libraries/utility/animation.js")
        //- script(src="libraries/energy/energy.js")
        //- script(src="libraries/items/items.js")
        //- script(src="libraries/slider/sliderdemo.js")

    body
        #noOverflow
            #ghost 
            #ghosty

            #loading
                text loading...

            //- #showhidetest

                #testbox hello, I am content

                a(onclick="show('main','fadeInDown',3)")
                    button show

                a(onclick="hide('main','fadeOutDown',0.5)")
                    button hide

                a(onclick="hide('showhidetest','fadeOutUp',1)")
                    button hide me
            a.absolute(href="login" style="z-index: -1;") if nothing happens, click here

            #main
            
