include libraries/utility/forceLoad.pug

html
    head
        

        title Second Wind
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- force these links to load over cache by adding ?v=<?=time()?> to the end of each
        +forceCss("css/style.css")
        link(rel="stylesheet" href="css/animate.css")
        +forceCss("css/mainStyle.css")
        +forceCss("css/buttons.css")
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        +forceJs("libraries/ajax/AjaxHelper.js")
        +forceJs("libraries/account/functions.js")
        +forceJs("libraries/account/secureLoad.js")
        +forceJs("libraries/utility/general.js")
        +forceJs("libraries/utility/animation.js")
        +forceJs("libraries/energy/energy.js")
        +forceJs("libraries/items/items.js")
        +forceJs("libraries/slider/sliderdemo.js")
        +forceJs("main/toggleMenu.js")
        +forceJs("main/notifications/notifications.js")
        +forceJs("main/map/map.js")
        
        //- link(rel="stylesheet", href="css/style.css")
        //- link(rel="stylesheet", href="css/animate.css")
        //- link(rel="stylesheet" href="css/mainStyle.css")
        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        //- script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        //- script(src="libraries/ajax/AjaxHelper.js")
        //- script(src="libraries/account/functions.js")
        //- script(src="libraries/account/secureLoad.js")
        //- script(src="libraries/utility/general.js")
        //- script(src="libraries/utility/animation.js")
        //- script(src="libraries/energy/energy.js")
        //- script(src="libraries/items/items.js")
        //- script(src="libraries/slider/sliderdemo.js")

    body
        #noOverflow
            #ghost 

            #loading
                text loading...

            //- #showhidetest

                #testbox hello, I am content

                a(onclick="show('main','fadeInDown',3)")
                    button show

                a(onclick="hide('main','fadeOutDown',0.5)")
                    button hide

                a(onclick="hide('showhidetest','fadeOutUp',1)")
                    button hide me

            #main
            
            script.
                secureLoad("main", "main/main.php", undefined, function() {
                    hide("loading","fadeOut", 2);
                });

            script.
                function getFive() {
                    var ajax = new AjaxHelper("libraries/ajax");
                    ajax.loadVariables("output", {"variableExample": null, "variableWithArgExample": "heyo", "variableMultipleArgsExample": ["foo", "bar"]}, function() {
                        console.log(variableExample);
                        console.log(variableWithArgExample);
                        console.log(variableMultipleArgsExample);
                    })

                    ajax.call("argsExample",{0: "hey", 1: "there"}, function() {
                        console.log("call done");
                    });
                    
                }
