link(rel="stylesheet" href!="<? hashify('main/map/map.css'); ?>")

//- #hideMap(onclick="secureLoad('ghosty','libraries/ajax/secureVariables.php',{'variableMultipleArgsExample': ['hello','world']})" style="position: fixed; color: white; z-index: 15;") HIDE MAP
//- #hideMap(onclick="hide('map','fadeOut',1);forward('hidden',function(){show('map','fadeIn',1);})" style="position: fixed; color: white; z-index: 15;") HIDE MAP


//- #map( style="display:none;")
    span
        #xysensitive.absolute(onclick="clickme()")
        #markers
#mapGrid
    #mapSquare
        #xysensitive.mapSquare(onclick="mapClick(event)")
        #myLocation.invert.mapSquare
        #playerLocations.mapSquare
        #markers.invert.mapSquare
        #line
        #perimeter
    #mapUI
        #selectedPlayers
        select#selectIslands
        .button#movehere(onclick="addTarget()" style="display:none;") move here
        br
        .button(onclick="hideMap()") close map