link(rel="stylesheet" href!="<? hashify('main/map/map.css'); ?>")
link(rel="stylesheet" href!="<? hashify('main/map/zoom.css'); ?>")

//- #hideMap(onclick="secureLoad('ghosty','libraries/ajax/secureVariables.php',{'variableMultipleArgsExample': ['hello','world']})" style="position: fixed; color: white; z-index: 15;") HIDE MAP
//- #hideMap(onclick="hide('map','fadeOut',1);forward('hidden',function(){show('map','fadeIn',1);})" style="position: fixed; color: white; z-index: 15;") HIDE MAP


//- #map( style="display:none;")
    span
        #xysensitive.absolute(onclick="clickme()")
        #markers
#mapGrid
    #bgContainer
        background
    #mapSquare

        #xysensitive.mapSquare(onclick="mapClick(event)")
        #line
        #perimeter.mapSquare
        #playerLocations.mapSquare
        #myLocation.invert.mapSquare
        #markers.invert.mapSquare
        #quickActions.mapSquare
            //- action container is used to house the actions
            #quickActionContainer
        #zoomButtons.mapSquare
        #gridLines
        a#zoomOutButton(onclick="zoomOut()" style="display:none")
            img.invert(src="material-icons/zoomOut.svg")

    #mapUI
        #selectedPlayers
        select#selectIslands

        .button.iconButton#movehere(onclick="addTarget()" style="display:none;")
            | MOVE TO MARKER
            img.invert(src="material-icons/move.svg")
        br

        .button.iconButton#zoomOut(onclick="zoomOut()" style="display:none")
            | ZOOM OUT
            img.invert(src="material-icons/zoomOut.svg")
        
        .button.iconButton(onclick="hideMap()")
            | CLOSE MAP
            img.invert(src="material-icons/close.svg")
        //- div(style="padding-top: 70px;")