.mapSquare {
    /* width: calc(100% - 30px * 2);
    height: calc(100% - 30px * 2);
    margin: 30px; */
    position: absolute;
    grid-area: mapSquare;
    width: 60vw;
    height: 60vw;
    max-width: 100vh;
    max-height: 100vh;
    pointer-events: none;
    overflow: hidden;
}

#xysensitive {
    pointer-events: all;
}

#markers > img {
    position: absolute;
    margin-left: -12px;
    margin-top: -24px;
}

#myLocation > img {
    position: absolute;
    margin-left: -12px;
    margin-top: -12px;
}

/* needs to show with diaply: grid */
#mapGrid {
    position: absolute;
    display: none;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mapSquare mapUI";
    width: 100vw;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: var(--text-white);
    z-index: 4;
    overflow-y: scroll;
    overflow-x: hidden;
}

#bgContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bgContainer > background {
    position: fixed;
    left: -40px;
    /* this is for extending the blur out a bit */
    width: calc(100% + 2 * 40px);
    top: -40px;
    height: calc(100% + 2 * 40px);
    background-image: url(../../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* for compatibility */
    -webkit-filter: blur(20px) brightness(70%);
    -moz-filter: blur(20px) brightness(70%);
    -o-filter: blur(20px) brightness(70%);
    -ms-filter: blur(20px) brightness(70%);
    filter: blur(20px) brightness(70%);
}

#mapSquare {
    grid-area: mapSquare;
    width: 60vw;
    height: 60vw;
    max-width: 100vh;
    max-height: 100vh;
    /* background-color: rgba(69, 84, 69, 0.85); */
    z-index: 1;
}

#mapUI {
    grid-area: mapUI;
    text-align: center;
    z-index: 1;
    margin: 25px;
    background-color: var(--dark-card);
    box-shadow: var(--small-shadow);
}

/* players #################################### */
.playerLight,
.playerDark {
    overflow: hidden;
    margin-top: -12px;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    line-height: 24px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.playerLight {
    color: var(--text-white);
}

.playerDark {
    color: var(--text-black);
}

/* action buttons on the side of the map to select players */
#selectedPlayers {
    background-color: var(--dark-card-highlight);
}

#selectedPlayers > a {
    padding: 10px;
    display: block;
}

#selectedPlayers > a:hover {
    background-color: var(--dark-card);
}

/* ############################################# */

#quickActions {
    overflow: visible;
}

#quickActionContainer {
    position: absolute;
    z-index: 5;
    text-align: center;
    padding-top: 15px;
}

#quickActionCard {
    background-color: var(--dark-card);
    box-shadow: var(--small-shadow);
    margin-left: -50%;
    pointer-events: all;
    width: 100%;
}

#quickActionCard > a {
    color: var(--text-white);
    padding: 15px;
    display: block;
}

#quickActionCard > a:hover {
    background-color: var(--dark-card-highlight);
}

#quickActionCard > container {
    display: inline-block;
}

#quickActionCard > container > img {
    padding: 15px;
}

#quickActionCard > container:hover {
    background-color: var(--dark-card-highlight);
}

@media screen and (max-width: 600px) {
    #mapGrid {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "mapSquare" "mapUI";
    }

    .mapSquare,
    #mapSquare {
        width: 100vw;
        height: 100vw;
    }
}

/* #map > span > #markers {
    max-width: 100vh;
    max-height: 100vw;
    width: 100vw;
    height: 100vh;
} */
