include ../../libraries/utility/forceLoad.pug

+forceCss("main/menu/menu.css")

#menu(style="display:none")
    a.mobileOnly(onclick="show('notifications','slideInLeft',0.5)")
        img.icon(src="material-icons/notifications.svg")
    br
    a.mobileOnly(onclick="show('analytics','slideInRight',0.5)")
        img.icon(src="material-icons/chart.svg")
    br
    a.mobileOnly(onclick="show('map','fadeIn',0.5,'flex')")
        img.icon(src="material-icons/map.svg")
    br