
extractor_menu#extractor_menu(style="display:none")
    test hey
    button#hideMenu(onclick="hide('extractor_menus','fadeOutDown', 1);show('analytics','fadeInRight', 2);show('notifications','fadeInLeft', 2)") Close Menu
