//- Despite this being the extractor file, all the content corresponds to the factory item. -//
factory_menu#factory_menu(style="display:none")
    #factory_header 
        h2 header
        factory_logo(src!="<? hashify('images/extractor_3_animation.svg'); ?>")
    #factory_items 
        #item_header 
            p items
        br
        table#itemList
            tr
                th Item
                th Level
                th Amount
                th Human
                th Attack
                th Power
                th Intelligence
                th Building
                th Actions
        
        
       
    #factory_actions 
        h2 actions
        button#combine(onclick='newCombineItems()') Combine items
        #testItems
        #errorItems
        button#hideMenu(onclick="hide('factory_menu','fadeOutDown', 1);show('analytics','fadeInRight', 2);show('notifications','fadeInLeft', 2)") Close Menu
    #energy_cores cores
    #factory_progress 
        button#updateCombinations(onclick='retrieveCombinationTimes()') update Combinations
        #progress_bars