//- Despite this being the extractor file, all the content corresponds to the factory item. -//
factory_menu#factory_menu(style="display:none")
    #factory_header 
        text Factory
        //- factory_logo(src!="<? hashify('images/extractor_3_animation.svg'); ?>")
    #factory_items 
        #item_header 
            text items
        br
        table#itemList
            tr
                th Item
                th Level
                th Amount
                th H
                th A
                th P
                th I
                th B
    #factory_actions 
        action_title actions
        button#combine(onclick='newCombineItems()') Combine items
        #testItems
        #errorItems
        button#hideMenu(onclick="hide('factory_menu','fadeOutDown', 1);show('analytics','fadeInRight', 2);show('notifications','fadeInLeft', 2)") Close Menu
    #factory_descriptions
        canvas#doughnut-chart
        //- <canvas id="doughnut-chart" width="800" height="450"></canvas>
    #factory_progress 
        #progress_bars