//- Despite this being the extractor file, all the content corresponds to the factory item. -//
factory_menu#factory_menu(style="display:none")
    #factory_header 
        text FACTORY
        //- factory_logo(src!="<? hashify('images/extractor_3_animation.svg'); ?>")
    #factory_items 
        #item_header 
            text Items
        br
        table#itemList
            tr
                th Item
                th Level
                th Amount
                th H
                th A
                th P
                th I
                th B
    #factory_actions 
        button#testImg(onclick='startAnimation()')
        action_title actions
        button#combine(onclick='newCombineItems()') Combine items
        #testItems
        #errorItems
        button#hideMenu(onclick="hideFactoryMenu()") Close Menu
    #factory_descriptions
        #combinationText Combining Items
        bar#ratiosBar1
        #resultText Result Item
        resultBar#resultBar1
        //- <canvas id="doughnut-chart" width="800" height="450"></canvas>
    #factory_progress 
        #progress_bars