#factory_menu{
    font-weight: 200;
    position: absolute;
    display: grid;
    margin-top:20px;
    grid-template-columns: auto 350px;
    grid-template-rows: 100px 250px 25% auto;
    grid-template-areas:    "factory_header factory_descriptions"
                            "factory_items factory_descriptions"
                            "factory_items factory_progress"
                            "factory_actions factory_progress";
    width: 100%;
    height: 100%;
    border: 2px;
    color: white;
    /* background-color: rgba(148, 148, 148, 0.32); */
    border-radius: 5px;
    background-color:#fff8f1e3;
    box-shadow: 0px 10px 80px 0px #00000070;
   
}
th{
    font-weight: 500;
}


@media screen and (max-width: 1100px) {
    #factory_menu{
        display:block;
        overflow: scroll;
    }
    #factory_menu > *{
        margin-top:10px;
    }

}
#factory_menu > *{
    background-color:#0a0a0a;
    padding:2%;
    margin:5px;
    border-radius: 5px;
   
}

#factory_header{
    background-image: url("images/extractor_3.svg");
    background-position-y: 8%;
    background-size: 50%;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    padding-top:10px;
    grid-area: factory_header;

} 
#factory_items{
    margin-top:0px;
    margin-bottom:0px;
    grid-area: factory_items;
    overflow-y:scroll;
    
}

#factory_descriptions{
    grid-area:factory_descriptions;
    background-color:#fff8f1e3;
    background-position: center;
    background-size:60%;
}
#itemList{
    text-align: center;
    margin: 0px auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


#itemList td, #itemList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#itemList tr:nth-child(even){background-color: #272e36;}

#itemList tr:hover {background-color: rgb(153, 153, 153);}

#itemList th {
    
    padding-top: 12px;
    font-weight: 300;
    padding-bottom: 12px;
    background-color: rgb(219, 219, 219);
    color: rgb(29, 29, 29);
}
#itemList tr{
    cursor: pointer;
}

#item_header{
    width:100%;
    font-weight: 600;
    background: white;
    color: black;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;

}

#factory_items item{
    background: no-repeat;
    background-position: center;
    background-position-y:30px;
    background-size: 60%;
    border-width:4px;
    border:solid;
    border-color: white;
    border-radius: 5px;
    color: rgb(12, 12, 12);
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height:110px;
    width:110px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 7px;
    position: relative;
    overflow:scroll;
    
}
#factory_items description{
    background-color:white;
}
#factory_items amount{

    background-color:white;
    position: absolute;
    border-radius:4px;

    bottom:0px;
    right:0px;

}
#factory_actions{
    
    grid-area: factory_actions;

}
#energy_cores{
    grid-area: energy_cores;

}
#factory_progress{
    margin-left:0px;
    overflow-y:scroll;
    grid-area: factory_progress;
}

#progress_bars {
    width: 100%;
    background-color: white;
    color: black;
  }
  
progress_bar {
    width:0px;
display:block;
height: 30px;
background-color: rgb(69, 70, 75);
}

factory_logo{
    height:100px;
    width:100px;
    display: inline-block;
}


