.notifications
    //- h2.textWhite.title NOTIFICATIONS
    .titleIcon
        img.invert(src="material-icons/notifications.svg" width="35px")
    .list
    
        .notificationCard
            br
            b This is the title
            br
            p This is some text that will go into the card revealing some more information
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        a.button.mobileOnly(onclick="hide('notifications', 'slideOutLeft', 1)") hide
