#island
    
    img#islandrock(src="images/rock.svg")
    .townhall
        img(src="images/townHall.svg")
        a(onclick="show('energies','fadeInUp', 1)")
    .extractor  
        img(src="images/extractor_3_animation.svg")
        a(onclick="show('extractor_menu','fadeInUp', 1,'grid')")
