#energies.absolute(style="display:none")
    #pablotests
    //- energy values and allocation of energy
    include ../energy/energy.pug
    itemList#itemList
    #testItems
    button#combine(onclick='combineItems()') Combine items
    #errorItems
#island
    img#islandrock(src="images/rock.svg")
    .townhall
        img(src="images/townHall.svg")
        a(onclick="show('energies','fadeInUp', 1)")
    .extractor  
        a(onclick="show('extractor','fadeInUp', 1)")
