link(rel="stylesheet" href!="<? hashify('main/island/island.css'); ?>")

#island
    
    img#islandrock(src!="<? hashify('images/rock.svg'); ?>")
    .townhall
        img(src!="<? hashify('images/townHall.svg'); ?>")
        a(onclick="show('energies','fadeInUp', 1)")
    .extractor  
        img(src!="<? hashify('images/extractor_3_animation.svg'); ?>")
        a(onclick="show('extractor_menu','fadeInUp', 1);hide('analytics','fadeOutRight', 2)")
