#island
    img#islandrock(src="images/rock.svg")
    .townhall
        img(src="images/townHall.svg")
        a(onclick="show('energies','fadeInUp', 1)")
    .extractor  
        a(onclick="show('extractor','fadeInUp', 1)")
