.icon {
    border: solid black 3px;
    border-radius: 100000px;
    padding: 7px;
    margin: 5px;
    vertical-align: middle;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.button, .iconButton, select {
    display: inline-block;
    border: solid white 1.5px;
    padding: 10px;
    margin: 10px;
    color: white;
    cursor: pointer;
    background-color: black;
    font-size: medium;
    font-weight: 700;
}

.iconButton {
    padding-right: 34px;
}

.iconButton > img {
    height: 24px;
    position: absolute;
    margin-top: -3px;
    margin-left: 3px;
}

.button:hover, select:hover {
    background-color: rgb(50, 50, 50);
}

.invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}