.icon {
    border: solid black 1.5px;
    border-radius: 100000px;
    padding: 7px;
    margin: 5px;
    vertical-align: middle;
    
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
}

.button, .iconButton, select {
    display: inline-block;
    border: solid white 1.5px;
    padding: 10px;
    margin: 10px;
    color: var(--text-white);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    font-size: medium;
    font-weight: 700;
    border-radius: 2px;
}

.iconButton {
    padding-right: 34px;
}

.iconButton > img {
    height: 24px;
    position: absolute;
    margin-top: -1px;
    margin-left: 3px;
}

.button:hover, select:hover {
    background-color: var(--dark-card-highlight);
}

.invert {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
}