/* general css styles for whole site */

html * { font-family: 'Quicksand', sans-serif; }

body {
    position: fixed;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.menuSolid, .loginButton, .loginInput, #loading { background-color: #222222; }

.textWhite, #loading text { color: #dddddd; }

.title {
    font-weight: 100;
}

.hidden { display: none; }

.absolute { position: absolute; }

.conatiner { 
    width: 100%;
    height: 100%;
}

#loading {
    width: 100vw;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 100;
}

#loading text {
    line-height: 100vh;
}

a { cursor: pointer; }

.mobileOnly { display: none; }
.desktopOnly { display: initial; }

@media screen and (max-width: 1000px) {
    .mobileOnly {
        display: initial;
    }
    .desktopOnly {
        display: none;
    }
}
