
include php_functions/energy.php
link(rel="stylesheet" href="main/mainStyle.css")
script(src="js_functions/energy.js")
script(src="js_functions/items.js")
.grid-container
   
    .item1
    .userLevel
    .item2
        div  notifications 
        .notification_box
    .item3
       
        |  <?php getEnergyAllocation() ?>
        table
            #energies
            tr
            td
                input#human(oninput='doneAllocation()', type='number' value='0')
            td
                input#attack(oninput='doneAllocation()', type='number', value='0')
            td
                input#power(oninput='doneAllocation()', type='number', value='0')
            td
                input#intel(oninput='doneAllocation()', type='number', value='0')
            td
                input#build(oninput='doneAllocation()', type='number', value='0')
        button#submit(onclick='submitAllocation()', style='display: none;') DONE
        #confirmMessage
        #itemList
        items#items
        #testItems
        button#combine(onclick='combineItems()') Combine items
        #errorItems
    .item4
        div analytics
        .notification_box
    .item5
        a(onclick='logout()') logout
        #ghost
           