include ../libraries/energy/energy.php
include ../libraries/utility/forceLoad.pug

+forceCss("main/island.css")
+forceCss("main/mainLayout.css")
+forceCss("main/notificationLayout.css")
+forceCss("main/analyticsLayout.css")

//- link(rel="stylesheet", href="main/mainLayout.css?")
//- link(rel="stylesheet", href="main/island.css")
//- link(rel="stylesheet", href="main/notificationLayout.css")
//- link(rel="stylesheet", href="main/analyticsLayout.css")

.mainLayout
   
    .pic
        img(src="images/level.png", alt="")
    .mid
        #energies.hidden.absolute
            #pablotests
            //- energy values and allocation of energy
            include energy.pug
            itemList#itemList
            #testItems
            button#combine(onclick='combineItems()') Combine items
            #errorItems
        #island.animated.fadeInUp
            img#islandrock(src="images/rock.svg")
            .townhall
               
                img(src="images/townHall.svg")
                a(onclick="show('energies','fadeInUp', 1)")
    .foot
        a.mobileOnly(onclick="show('notifications', 'slideInLeft', 0.5)") show notifications
        a(onclick='logout()') logout
        a.mobileOnly(onclick="show('analytics', 'slideInRight', 0.5)") show analytics

.notificationLayout#notifications
    .notifications
        | notifications
        br
        a(onclick="hide('notifications', 'slideOutLeft', 0.5)") hide

.analyticsLayout#analytics
    .analytics
        | analytics
        br
        a(onclick="hide('analytics', 'slideOutRight', 0.5)") hide
        

        
update
    script getEnergyAllocation();
    script updateItemsList();
    script setupSliders();
        
    