
include ../libraries/energy/energy.php

.grid-container
   
    .item1
    .userLevel
    .item2
        div  notifications 
        .notification_box
    .item3
        #pablotests
        //- energy values and allocation of energy
        include energy.pug
        itemList#itemList
        #testItems
        button#combine(onclick='combineItems()') Combine items
        #errorItems
    .item4
        div analytics
        .notification_box
    .item5
        a(onclick='logout()') logout
    update
        script getEnergyAllocation();
        script updateItemsList();
        script setupSliders();
        
    
        