
include ../libraries/energy/energy.php

.grid-container
   
    .item1
    .userLevel
    .item2
        div  notifications 
        .notification_box
    .item3
        #pablotests
        div#energytest
            table
                tr
                    td#humanEnergy
                    td#attackEnergy
                    td#powerEnergy
                    td#intelligenceEnergy
                    td#buildingEnergy
        table
            
            tr
                td
                    input#human(oninput='doneAllocation()', type='number' value='0')
                td
                    input#attack(oninput='doneAllocation()', type='number', value='0')
                td
                    input#power(oninput='doneAllocation()', type='number', value='0')
                td
                    input#intelligence(oninput='doneAllocation()', type='number', value='0')
                td
                    input#building(oninput='doneAllocation()', type='number', value='0')
        button#submit(onclick='submitEnergyAllocation()', style='display: none;') DONE
        #confirmMessage
        itemList#itemList
        #testItems
        button#combine(onclick='combineItems()') Combine items
        #errorItems
    .item4
        div analytics
        .notification_box
    .item5
        a(onclick='logout()') logout
    update
        |<?php getEnergyAllocation() ?>
        script updateItemsList();
    
        