include ../libraries/energy/energy.php
include ../libraries/utility/forceLoad.pug

+forceCss("main/island/island.css")
+forceCss("main/css/mainLayout.css")
+forceCss("main/notifications/notificationLayout.css")
+forceCss("main/css/analyticsLayout.css")
+forceCss("main/css/extractor.css")

//- link(rel="stylesheet", href="main/mainLayout.css?")
//- link(rel="stylesheet", href="main/island.css")
//- link(rel="stylesheet", href="main/notificationLayout.css")
//- link(rel="stylesheet", href="main/analyticsLayout.css")

.mainLayout
    .headleft
        span.helper
        a.mobileOnly(onclick="toggleMenu()")
            img.icon.absolute#menuicon(src="material-icons/menu.svg")
            img.icon.absolute#closeicon(src="material-icons/close.svg" style="display:none")

        
    .pic
        img(src="images/level.png", alt="")

    .headright
        span.helper
        a.desktopOnly(onclick="toggle('notifications', 'fadeInLeft', 'fadeOutLeft', 0.5, undefined, undefined, 'grid')")
            img.icon(src="material-icons/notifications.svg")
        a.desktopOnly(onclick="toggle('analytics', 'fadeInRight', 'fadeOutRight', 0.5, undefined, undefined, 'grid')")
            img.icon(src="material-icons/chart.svg")
        a.desktopOnly(onclick="show('map','fadeIn',0.5,'flex')")
            img.icon(src="material-icons/map.svg")
        a(onclick="logout()")
            img.icon(src="material-icons/logout.svg")
    
    .mid#floatUp(style="display:none")
        include island/island.pug
    script show('floatUp','fadeInUp',3);
    .foot.textWhite
        | footer
        //- a(onclick='logout()') logout

#foreground
    img.foreground_left#foreground_left(src="images/foreground_left.svg" style="display:none")
    img.foreground_right#foreground_right(src="images/foreground_right.svg" style="display:none")
    script show("foreground_left","fadeInLeft",2);
    script show("foreground_right","fadeInRight",2);
    

.building_menus       
    include extractor.pug
    include townhall.pug
        
.notificationLayout#notifications(style="display:none")
    include notifications/notifications.pug
    script show("notifications","fadeInLeft",3,"grid");

.analyticsLayout#analytics(style="display:none")
    .analytics
        br
        h1.textWhite analytics
        a.button.mobileOnly(onclick="hide('analytics', 'slideOutRight', 0.5)") hide
    script show("analytics","fadeInRight",3,"grid");
    

include map/map.pug
include menu/menu.pug

        
update
    script getEnergyAllocation();
    script updateItemsList();
    script setupSliders();
        
    