include ../libraries/energy/energy.php
include ../libraries/utility/forceLoad.pug

+forceCss("main/island/island.css")
+forceCss("main/css/mainLayout.css")
+forceCss("main/css/notificationLayout.css")
+forceCss("main/css/analyticsLayout.css")

//- link(rel="stylesheet", href="main/mainLayout.css?")
//- link(rel="stylesheet", href="main/island.css")
//- link(rel="stylesheet", href="main/notificationLayout.css")
//- link(rel="stylesheet", href="main/analyticsLayout.css")

.mainLayout
    .headleft
        span.helper
        a.mobileOnly(onclick="toggleMenu()")
            img.icon.absolute#menuicon(src="material-icons/menu.svg")
            img.icon.absolute#closeicon(src="material-icons/close.svg" style="display:none")

        
    .pic
        img(src="images/level.png", alt="")

    .headright
        span.helper
        a(onclick="")
            img.icon(src="material-icons/map.svg")
        a(onclick="logout()")
            img.icon(src="material-icons/logout.svg")
    
    .mid#floatUp(style="display:none")
        include island/island.pug
    script show('floatUp','fadeInUp',3);
    .foot.textWhite
        | footer
        //- a(onclick='logout()') logout

#foreground
    img.foreground_left(src="images/foreground_left.svg")
    img.foreground_right(src="images/foreground_right.svg")
    

.building_menus       
    include extractor.pug
    include townhall.pug
.notificationLayout#notifications
    .notifications
        h1.textWhite notifications
        .notificationCard
            br
            b This is the title
            br
            p This is some text that will go into the card revealing some more information
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        .notificationCard
            br
            b Another one
            br
            p This is another notification
            img.invert(src="material-icons/map.svg")
            img.invert(src="material-icons/close.svg")
        a.button.mobileOnly(onclick="hide('notifications', 'slideOutLeft', 0.5)") hide
        

.analyticsLayout#analytics
    .analytics
        br
        h1.textWhite analytics
        a.button.mobileOnly(onclick="hide('analytics', 'slideOutRight', 0.5)") hide
        
include menu/menu.pug

        
update
    script getEnergyAllocation();
    script updateItemsList();
    script setupSliders();
        
    