#energies.absolute(style="display:none")
        #pablotests
        //- energy values and allocation of energy
        include energy/energy.pug
        itemList#itemList
        #testItems
        button#combine(onclick='combineItems()') Combine items
        #errorItems
