include ../../libraries/utility/forceLoad.pug

+forceCss("main/map/map.css")

#hideMap(onclick="hide('map','fadeOut',0.5)" style="position: fixed; color: white; z-index: 15;") HIDE MAP
#map( style="display:none;")
    span
        #markers.absolute
        #xysensitive(onclick="clickme()")
            