include ../../libraries/utility/forceLoad.pug

+forceCss("main/map/map.css", "map.css")

//- #hideMap(onclick="secureLoad('ghosty','libraries/ajax/secureVariables.php',{'variableMultipleArgsExample': ['hello','world']})" style="position: fixed; color: white; z-index: 15;") HIDE MAP
//- #hideMap(onclick="hide('map','fadeOut',1);forward('hidden',function(){show('map','fadeIn',1);})" style="position: fixed; color: white; z-index: 15;") HIDE MAP


//- #map( style="display:none;")
    span
        #xysensitive.absolute(onclick="clickme()")
        #markers
#mapVars
    include mapVars.php

#mapGrid
    #mapSquare
        #xysensitive(onclick="addMarker(event)")
        #myLocation.invert
        #markers.invert
    #mapUI
        select#selectIslands
        br
        .button(onclick="hideMap()") close map