include ../../libraries/utility/forceLoad.pug

+forceCss("main/map/map.css")

#hideMap(onclick="secureLoad('ghosty','libraries/ajax/secureVariables.php',{'variableMultipleArgsExample': ['hello','world']})" style="position: fixed; color: white; z-index: 15;") HIDE MAP
//- #hideMap(onclick="" style="position: fixed; color: white; z-index: 15;") CLICK
#map( style="display:none;")
    span
        #markers.absolute
        #xysensitive(onclick="clickme()")
            