//- forceCss(url from index [, url from php])
mixin forceCss(url, url2)
    - if (!url2) {url2 = url;}
    - var url = url + "?h=<?= hash_file('crc32', '" + url2 + "'); ?>"
    link(rel="stylesheet", href!= url)

//- forceJs(url from index [, url from php])
mixin forceJs(url, url2)
    - if(!url2) {url2 = url;}
    - var url = url + "?h=<?= hash_file('crc32', '" + url2 + "'); ?>"
    script(src!= url)
    